.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .checkbox_container {
    display: flex;
    column-gap: 10px;
    @media (max-width: 432px) {
      flex-direction: column;
    }
  }

  .checkbox {
    display: flex;
    gap: 10px;
  }
}
