@import "../../styles/variables";

.filter {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 920px;
  margin: 24px 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  &__category_status {
    display: flex;

    h4 {
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      color: $grey;
    }
  }

  &__header {
    display: flex;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    color: $blue;
  }

  &__category {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 16px;
  }

  &__status {
    h4 {
      margin-bottom: 20px;
    }

    input {
      margin-right: 10px;
    }

    span {
      &:first-of-type {
        margin-right: 14px;
      }
    }
  }
}
