.input_container {
  position: relative;

  .input {
    padding: 5px 15px;
    padding-left: 40px;
    padding-right: 80px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 40px;

    &::placeholder {
      opacity: 0.7;
      font-family: "Montserrat";
    }
  }

  .icon {
    position: absolute;
    width: 24px;
    z-index: 1;
    opacity: 0.3;
    top: 12px;
    left: 10px;
  }
}
