* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1470px;
  margin: 0 auto;
  font-family: "Montserrat";
}
